.basic-info{
&-box {
  box-sizing: border-box;
  width: 200px;
  height:200px;
}

&-img-preview {
  overflow: hidden;
  width: 100%;
  float: left;
  height: 100%
}

&-cropper-span{
  height:250;
  width:250;
}

&-img{
  width: 120;
  height: 120;
}
}