.employee-thumb {
  border-radius: 50%;
  width: 30px;
  aspect-ratio: auto 30 / 30;
  height: 30px;
}

.employee-name {
  color: $blue-employeeList;
  text-decoration: none;

  &:hover {
    color: $primary-75;
    text-decoration: underline;
  }
}
